@import 'bootstrap';

html {
  body {
    margin: 90px 0 50px;
  }
}

.router-link-active {
  @extend .nav-link.active;
}


body {
}
.main-content {
    @extend col-sm-6;
    background-size: cover;
    height: 800px;
    z-index: 1;
    transition: .4s all ease-in-out;
    &.urban {
        background: url('/images/urban-background.png');
        background-position: center;
        &:hover{
            box-shadow: -60px 0 90px rgba(0,0,0,.5);
            background-position: center;
        }
    }
    &.space {
        background: url('/images/space-background.png');
    }
    &:hover {
        box-shadow: 60px 0 90px rgba(0,0,0,.5);
        z-index: 999;

    }
}


// --------------
// Todo Component
// --------------

.todo-item-text {
  display: block;
  padding: .435rem .8rem;
  text-transform: capitalize;
}

.todo-item-input {
  @extend .form-control;
}

.todo-item-select {
  display: none;
  margin: 13px 0 0;
}

.todo-item-delete {
  @extend .btn;
  @extend .btn-danger;
  @extend .pull-xs-right;
  display: none;
}

.todo-item {
  &:hover {
    .todo-item-select,
    .todo-item-delete {
      display: block;
    }
  }

  &.completed {
    .todo-item-text {
      color: $gray-lighter;
      text-decoration: line-through;
    }
  }
}
